<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
</head>
<body>
    <h1>College List</h1>
    <p>lorem ipsum dolor sit amet, consectetur adip</p>
    <% students.forEach(student => { %>
        <p><%= student.name %></p>
        <p><%= student.major %></p>
        <p><%= student.score %></p>

    <% }) %>
</body>
</html>
