.head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
    font-size: 70px;
    padding: 50px;
    margin: 20px;
    background: moccasin;
}

.menu {
    font-size: 40px;
    padding: 50px;
    margin: 20px;
    background: palegoldenrod;
}
.article {
    font-family: 'Trebuchet-MS';
    font-size: 30px;
    padding: 50px;
    margin: 20px;
    background: papayawhip;
}
p {
    font-size: 25px;
    padding: 50px;
    margin: 20px;
    background: whitesmoke;
} 
img {
    width: 1360px;
    height: 880px;
    padding: 50px;
    margin: 20px;
}

.footer {
    font-size: 20px;
    padding: 50px;
    margin: 20px;
    background: pink;
}